.header-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 0 16px;

  .full-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 28;
    background: rgba(0, 0, 0, .5);
  }
}

.header-center-catalog-bars {
  display: none;
  background-color: var(--yellow-c);
  border-radius: 6px;
  padding: 8px;
  width: 35px;
  height: 35px;
  margin-right: 10px;
  font-size: 20px;
}

.header-center-logo {
  display: block;
  margin-right: 25px;
  max-width: 250px;
  transform: translateY(-5px);

  img {
    width: 230px;
  }
}

.header-search-all {
  max-width: 640px;
  width: 100%;
  margin: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.header-search {
  width: 100%;
  height: 44px;
  background: var(--white-c);
  border: 2px solid var(--yellow-c);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  >div {
    height: 100%;
  }

  .search-catalog-btn {
    background: var(--dark-white-c);
    border-radius: 4px;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 9px 12px 9px 16px;

    span {
      margin-right: 12px;
      font-size: 12px;
      line-height: 16px;
    }

    .down-icon {
      font-size: 18px;
    }
  }

  .header-search-catalog-list {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 8;
    background: var(--white-c);
    box-shadow: 0 6px 8px -6px rgb(24 39 75 / 12%), 0 8px 16px -6px rgb(24 39 75 / 8%);
    border-radius: 4px;
    padding: 10px 0;
    width: 200px;
    max-height: 300px;
    overflow-y: scroll;

    a {
      display: block;
      padding: 10px 20px;
      font-weight: 400;
      font-size: 13px;
      line-height: 16px;
      color: var(--dark-c);
    }
  }
}

.header-search-catalog {
  position: relative;
  padding: 5px 2px;
  height: 48px !important;

  a:hover {
    background: rgba(251,193,0,.2);
  }
}

.search-left {
  display: flex;
  width: 100%;
  flex: 1 1 0px;
  align-items: center;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    right: -7px;
    background-color: var(--white-c);
    width: 12px;
    height: 41px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  label {
    width: 0;
    height: 0;
    font-size: 0;
    opacity: 0;
  }

  input {
    width: 100%;
    height: 100%;
    border: none;
    padding: 0 10px 0 5px;
    margin-left: 5px;
  }
}

.clear-search {
  padding: 4px 12px 4px 8px;
  border-right: 1px solid #ececec;
  height: 28px;
  display: flex;
  align-items: center;
  color: #BABAC0;
}

.z-hidden {
  position: relative;
  z-index: -10;
}

.header-search-btn {
  width: 51px;
  height: 43px;
  padding: 5px 5px 5px 14px;
  background-color: var(--yellow-c);
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  margin-top: -1px;
  margin-right: -1px;
  font-size: 22px;
}

.header-center__right {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-left: 20px;
  padding-top: 2px;
}

.right-action-btn {
  margin: 0 0 0 26px;
  padding: 0;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--dark-c);

  &:first-child {
    margin: 0;

    .right-action__title {
      width: 109px;
    }
  }

  .icon-svg {
    width: 24px;
    height: 24px;
    display: inline-block;
    position: relative;
    font-size: 24px;
  }

  .right-action__title {
    font-weight: 500;
    font-size: 14px;
  }
}

@media screen and (max-width: 1500px) {
  .right-action-btn {
    margin: 0 0 0 15px;
  }
}
@media screen and (max-width: 1400px) {
  .header-center__right {
    width: 40%;
    justify-content: space-between;
  }

  .right-action-btn {
    padding: 0 5px;
    margin: 0;
  }
}

@media screen and (max-width: 1300px) {
  .header-search-all {
    width: 50%;
  }
}

@media screen and (max-width: 1240px) {
  .header-center-logo img {
    width: 190px;
  }

  .header-search {
    height: 44px;
  }

  .header-center__right {
    justify-content: space-between;
    width: 25%;
    padding-left: 40px;
  }

  .right-action-btn:first .right-action__title {
    width: auto !important;
  }

  .right-action__title {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .header-center {
    justify-content: unset;
    padding: 0 0 15px;
  }

  .header-center-catalog-bars {
    display: block;
  }

  .header-center-logo,
  .header-search-catalog {
    display: none;
  }

  .header-search {
    height: 36px;
  }

  .search-left {
    position: static;
  }

  .clear-search {
    padding: 2px 8px;
  }

  .header-search-all {
    width: calc(100% - 44px);
  }

  .header-search-btn-click {
    display: none;
  }

  .header-search-btn {
    padding: 5px;
    width: 37px;
    height: 35px;
  }

  .header-center__right {
    display: none;
  }

}