.header {
  position: relative;
  z-index: 8;
  background-color: #f7f7f7 !important;
}

.header__fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 4px 6px rgb(0 0 0 / 2%);
  z-index: 50;
  background-color: #fff;
  filter: drop-shadow(0 4px 6px rgba(0,0,0,.05));
}

.header-catalog-btn {
  padding: 10px 16px;
  background: #fbc100;
  border-radius: 8px;
  display: flex;
  align-items: center;
  margin-right: 50px;

  span {
    height: 24px;
  }

  .catalog__icon {
    font-size: 24px;
  }

  .catalog__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: .3px;
    color: var(--dark-c);
    margin-left: 12px;
  }
}

@media screen and (max-width: 1300px) {
  .header-catalog-btn {
    margin-right: 30px;
  }
}

@media screen and (max-width: 1024px) {
  .header__fixed {
    filter: unset;
  }
}