.footer {
  background-color: var(--dark-c);
  color: var(--white-c);
}

.footer__wrap {
  padding: 54px 32px 20px !important;
}

@media screen and (max-width: 1200px) {
  .footer__wrap {
    padding-bottom: 24px !important;
  }
}

@media screen and (max-width: 1024px) {
  .footer__wrap {
    padding: 36px 24px !important;
  }
}

@media screen and (max-width: 768px) {
  .footer__wrap {
    padding: 36px 10px !important;
  }
}