@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Black.eot');
  src: url('./assets/fonts/Roboto-Black.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/Roboto-Black.woff2') format('woff2'),
      url('./assets/fonts/Roboto-Black.woff') format('woff'),
      url('./assets/fonts/Roboto-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Bold.eot');
  src: url('./assets/fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/Roboto-Bold.woff2') format('woff2'),
      url('./assets/fonts/Roboto-Bold.woff') format('woff'),
      url('./assets/fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Medium.eot');
  src: url('./assets/fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/Roboto-Medium.woff2') format('woff2'),
      url('./assets/fonts/Roboto-Medium.woff') format('woff'),
      url('./assets/fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Regular.eot');
  src: url('./assets/fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/Roboto-Regular.woff2') format('woff2'),
      url('./assets/fonts/Roboto-Regular.woff') format('woff'),
      url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
}

:root {
  --dark-c: #333;
  --white-c: #FFF;
  --yellow-c: #fbc100;
  --dark-white-c: #f7f7f7;
}

body, html {
  color: #333;
  font-weight: 400;
}

ol, ul {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
  display: inline-block;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1488px;
  margin: 0 auto;
  padding: 0 32px;
}

.scroll-dropdown::-webkit-scrollbar-thumb {
  background: #e8e8e8;
  border-radius: 5px;
}

.scroll-dropdown::-webkit-scrollbar-track {
  background: transparent;
}

.scroll-dropdown::-webkit-scrollbar {
  width: 7px;
}



button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1024px) {
  .container{
    padding: 0px 24px;
  }
}

@media screen and (max-width: 768px) {
  .container{
    padding: 0px 10px;
  }
}